<main class="container">
  <section class="row">
<aside class="col-md-9">
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
</aside>
{{!-- <article class="col-md-3">
  <ul>
    <li>tech blog</li>
  </ul>
</article> --}}
  </section>
</main>